<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headTag">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<link href="../../../resources/css/bootstrap.css" th:href="@{resources/css/bootstrap.css}" rel="stylesheet" />
<link href="../../../resources/css/font-awesome.min.css" th:href="@{resources/css/font-awesome.min.css}" rel="stylesheet" />
<link href="../../../resources/css/style.css" th:href="@{resources/css/style.css}" rel="stylesheet"  />

	    <script src="../../../resources/js/modernizr-2.6.2.min.js"  th:src="@{resources/js/modernizr-2.6.2.min.js}"></script>
		<script src="../../../resources/js/bootstrap.min.js" th:src="@{resources/js/bootstrap.min.js}"></script>
		<script src="../../../resources/js/signup.js" th:src="@{resources/js/signup.js}"></script>



</head>

<body>
	
</body>
</html>
